<br><br><br>
<div class="bootstrap-container">
    <div class="container text-center mt">
        <div class="row">
            <span id="marqueeContainer" style="overflow: hidden;">
                <marquee id="myMarquee" direction="left" behavior="scroll">!!! VISUALIZATION CHART'S !!!</marquee>
            </span>
            <div class="col-md-6 offset-md-3" id="margin">
                <img class="img-fluid" style="width: 150px;" src="/assets/charts.png" alt="" /><br><br>
                <div style="font-weight: bolder; font-size: large;">
                    <p>!!! Welcome !!!</p><br>
                    <p>!!! To !!!</p><br>
                    <p>!!! Visualization Chart !!!</p>
                </div>
                <a href="/charts"><button mat-raised-button color="primary" style="border-radius: 10px;">Chart's</button></a>
            </div>
        </div>
    </div>
</div>